infrastructure/definitions/workflows/processing_workflow.json
{
    "Comment": "Data Processing Workflow with Error Handling",
    "StartAt": "ValidateInput",
    "States": {
        "ValidateInput": {
            "Type": "Task",
            "Resource": "${ValidationLambdaArn}",
            "InputPath": "$.data",
            "ResultPath": "$.validationResult",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                },
                {
                    "ErrorEquals": [
                        "ValidationError"
                    ],
                    "MaxAttempts": 0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "ValidationError"
                    ],
                    "ResultPath": "$.error",
                    "Next": "HandleValidationError"
                },
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "HandleSystemError"
                }
            ],
            "Next": "ProcessData"
        },
        "ProcessData": {
            "Type": "Task",
            "Resource": "${ProcessingLambdaArn}",
            "InputPath": "$.validationResult",
            "ResultPath": "$.processedData",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "Next": "EnrichData"
        },
        "EnrichData": {
            "Type": "Task",
            "Resource": "${EnrichmentLambdaArn}",
            "InputPath": "$.processedData",
            "ResultPath": "$.enrichedData",
            "Parameters": {
                "data.$": "$.data",
                "enrichmentConfig": {
                    "source": "${EnrichmentSource}",
                    "version": "${EnrichmentVersion}"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "ServiceUnavailable"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "SaveResults"
        },
        "SaveResults": {
            "Type": "Task",
            "Resource": "${StorageLambdaArn}",
            "InputPath": "$.enrichedData",
            "ResultPath": "$.storageResult",
            "Parameters": {
                "destination": "${StorageDestination}",
                "data.$": "$",
                "metadata": {
                    "workflow": "${WorkflowName}",
                    "timestamp.$": "$$.State.EnteredTime"
                }
            },
            "End": true
        },
        "HandleValidationError": {
            "Type": "Task",
            "Resource": "${ErrorHandlerArn}",
            "Parameters": {
                "error.$": "$.error",
                "type": "VALIDATION_ERROR",
                "workflow": "${WorkflowName}",
                "originalInput.$": "$.data"
            },
            "End": true
        },
        "HandleSystemError": {
            "Type": "Task",
            "Resource": "${ErrorHandlerArn}",
            "Parameters": {
                "error.$": "$.error",
                "type": "SYSTEM_ERROR",
                "workflow": "${WorkflowName}",
                "originalInput.$": "$"
            },
            "End": true
        }
    }
}